# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/
*.log

# Next.js
.next/
out/
build/
dist/

# Vercel
.vercel

# Turbo
.turbo

# Environment
.env
.env*.local

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Aleo
outputs/
build/
*.prover
*.verifier
